.overdue-row {
  background-color: #FF007F;
}

.finished-row {
  background-color: darkgreen;
}

.danger-row {
  background-color: crimson;
}

.warning-row {
  background-color: #FFBF00;
}

.shipped-row {
  background-color: lightgreen;
}